# Environment variables
server/.env
frontend/.env
frontend/.env.*
!frontend/.env.example

# Dependencies
node_modules/
frontend/node_modules/
server/node_modules/

# Build output
frontend/dist/

# Uploaded files
server/uploads/